# User-specific Xcode settings
xcuserdata/

# Build products
build/
DerivedData/

# Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcuserstate

# macOS specific files
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

